/* body {
    background-color: #efefef;
    color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131313;
    color: white;
  }
} */

:root   {
  color-scheme: dark light;
}